// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white : #ffffff;


$dark-green: #94B49F;
$dark-green-hover: #7a9483;
$light-green: #CEE5D0;
$cream: #FCF8E8;
$orange: #ECB390;
$dark-orange: #c6865f;
