<div class="container mt-3">
  <h1> Here is all your friendshits <h1>
<div>

<%# <ul>
  <% @bookings.each do |booking| %>
    <%# <li><%=link_to booking., friend_path(friend) %> %>
    <%# <%= cl_image_tag friend.photo, height: 300, width: 400, crop: :fill %>
    <%# </li> %>
  <%# <% end %> %>
<%# </ul> %> %>

<button type="button" class="btn btn-outline-secondary btn-small">
  <%= link_to "Create", new_friend_path, style: "text-decoration: none" %>
</button>
