/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url("components/cards.css");
@import url("components/button.css");

body {
  margin: 0;
  font-family: Open Sans;
  display: block;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.banner {
  background-image: url("friends_crying.jpeg");
  background-position: center;
  background-size: cover;
  padding:200px 0;
}

.container {
  background-size: cover;
  width: 1000px;
  margin: auto;
}

h1 {
  color: rgb(50, 49, 49);
}

.banner p {
  color: white;
}

.transparent {
  background-color: #ecb3909a;
  padding: 20px;
}
.transparent h1 {
  opacity:1;
}

.text-center {
  text-align: center;
}
