h2 {
  font-size: 17px;
  color: rgb(31, 31, 31);
}

p {
  font-size: 9px;
  color: rgb(31, 31, 31);
}

.cards-booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.line-seperate {
  color: $orange;
  height: 10px;
  border-top: 10px solid $orange;
  border-radius: 8px;
}

.top-title-and-button {
  display: flex;
  justify-content: space-between;
}

.nav-search-booking {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.imgContainer {
  display: contents;
}
