.btn-success {
  color: $white;
}

// .button-rounded-orange {
//   background-color: $orange;
//   border-radius: 40px;
//   color: $white;
//   font-weight: bold;
//   padding: 10px 30px;
//   margin: 5px;
//   &:hover{
//     background-color: $dark-orange;
//     color: $white;
//   }
//  }

 .logo-orange {
  background-color: $orange;
  border-radius: 40px;
  color: $white;
  font-weight: bold;
  padding: 10px 30px;
  margin: 5px;
 }

 .small-font {
  font-weight: lighter;
  padding: 5px;
  margin: 5px;
 }

//  .button-rounded-green {
//   background-color: $dark-green;
//   border-radius: 40px;
//   color: $white;
//   font-weight: bold;
//   padding: 10px 30px;
//   margin: 5px;
//   text-align: center;
//   font-size: 14px;
//   &:hover {
//     background-color: $dark-green-hover;
//     color: $white;
//   }
//  }

 .button-rounded-orange {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: $white;
  font-size: 1rem;
  // letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: open sans;
  margin: 5px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $orange;
    border-radius: 10rem;
    z-index: -2;
    color: $white;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($orange, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: $white;
    &:before {
      width: 100%;
    }
  }
}

.button-rounded-green {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: $white;
  font-size: 1rem;
  // letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: open sans;
  margin: 5px;
  background-color: $dark-green;
  flex-shrink: 0;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-green;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($dark-green, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;

  }
  &:hover {
    color: $white;
    &:before {
      width: 100%;
    }
  }
}

//  .btn-medium {
//   color: #999999;
//   border: 1px solid #999999;
//   padding: 8px 8px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
//   &:hover {
//     opacity: 1;
//     text-decoration: none;
//     color: #999999;
//   }
// }
