.navbar-lewagon {
  justify-content: space-between;
  background: $white;
  color: black;
  border-bottom: 5px solid $orange;
  border-top: 5px solid $orange ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}
 .nav-link {
  background-color: $white;
  border-radius: 50px;
  color: $orange;
  font-weight: bold;
  padding: 10px 40px;
  margin: 5px;
 }

 .dropdown-toggle {
  margin: 10px;
 }
